<?php
/**
 * PgLogger Configuration
 */

use Zend\Log\Logger;
use Zend\Db\Adapter\Adapter as DbAdapter;
use Zend\Mail\Transport\Sendmail;

return array(
    'logger' => array(
        'appName' => 'Your App Name',
        // DB
        /*'database' => array(
            'adapter' => new DbAdapter(array(
                'driver' => 'Mysqli',
                'database' => 'your_db',
                'username' => 'your_db_username',
                'password' => 'your_db_password'
             )),
            'table' => 'application_log',
            'priority_filter' => Logger::DEBUG,
        ),*/
        // Email
        /*'email' => array(
            'recipients' => array(
                'yourname@yourdomain.net' => 'Your Name',
                'someone.else@yourdomain.net' => 'Someone Else'
            ),
            'from' => array(
                'no-reply@yourdomain.net' => 'PgLogger'
            ),
            'transport' => new Sendmail('-freturn_to_no-reply@yourdomain.net'),
            'priority_filter' => Logger::ERR,
        ),*/
        // Syslog
        'syslog' => array(
            'priority_filter' => Logger::DEBUG,
        ),
        // Log file
        /*'file' => array(
            'log_file' => './data/log/'.date('Y-m-d').'-error.log',
            'priority_filter' => Logger::DEBUG,
        ),*/
        // Fire PHP
        /*'firephp' => array(
            'priority_filter' => Logger::DEBUG,
        )*/
    )
);
